/*Fundo cinza escuro*/
body {
    font-family: Arial, sans-serif;
    background-color: #919191;
    margin: 0;
    padding: 0;
}

/*Fundo branco*/
.container {
    position: fixed;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

/*Logo WEG*/
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px; /* ajuste de tamanho da logo */
    height: auto;
    z-index: 999; /* Garante que a imagem fique acima de outros elementos */
}

/*Cabeçalho "SIQ"*/
h1 {
    text-align: center;
    color: #333;
    font-size: 70px; /* Tamanho da fonte desejado */
    margin-bottom: 0px;
}

/*Cabeçalho 2 - "Sistema de Inspeção da Qualidade*/
h2 {
    text-align: center;
    color: #3f3f3f;
    font-size: 20px; /* Tamanho da fonte desejado */
    margin-top: 0px;
    margin-bottom: 70px;
}

/*Botões*/
.button-container {
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    width: 50%;
    margin: 0 auto; /* Isso irá centralizar horizontalmente o container de botões */
}

/*Botões azul claro*/
.blue-button {
    background-color: rgb(33, 153, 180);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px; /* Tamanho da fonte desejado */
    margin-top: 10px; /* Adiciona um espaço entre os botões */
}

/*Botão azul quando passamos o mouse em cima*/
.blue-button:hover {
    background-color: #0056b3;
}

/* botão voltar*/
.dark-blue-button {
    background-color: rgb(0, 87, 158);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px; /* Distância da parte inferior da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar */
    font-size: 16px; /* Ajusta o tamanho da fonte */
}

/*Botão desabilitado*/
.disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto */
}

/*Novo*/

/* Estilos para o texto de inspeção */
#texto_inspecao {
    font-size: 18px;
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Mudança da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px;
    z-index: 9999; /* Garante que a imagem fique acima de outros elementos */
}

/* Estilos para o contêiner do campo de entrada */
.input-container {
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilos para o campo de entrada */
input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Ocupa 80% da largura do contêiner */
}

/*Botões*/
.button-container-iniciar-inspecao {
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    width: 70%;
    margin: 0 auto; /* Isso irá centralizar horizontalmente o container de botões */
}

/*Botões azul iniciar inspeção*/
.blue-button-iniciar-inspecao {
    background-color: rgb(33, 153, 180);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px; /* Tamanho da fonte desejado */
    margin-top: 20px; /* Adiciona um espaço entre os botões */
}

/*Botão azul quando passamos o mouse em cima*/
.blue-button-iniciar-inspecao:hover {
    background-color: #0056b3;
}

.texto-resultados {
    font-size: 18px;
    color: #ff1717; /* Cor do texto */
    font-family: Arial, sans-serif; /* Mudança da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Garante que o texto fique acima de outros elementos */
}

/*Texto das inspeções*/
p {
    text-align: center;
    color: #272727;
    font-size: 24px; /* Tamanho da fonte desejado */
    font-weight: bold;
    margin-top: 0px;
    z-index: 9999; /* Garante que o texto fique acima de outros elementos */
}

/*Texto das inspeções*/
p2 {
    text-align: center;
    color: #272727;
    font-size: 24px; /* Tamanho da fonte desejado */
    font-weight: bold;
    margin-top: 0px;
    z-index: 9999; /* Garante que o texto fique acima de outros elementos */
    display: block; /* Assegura que o elemento seja tratado como um bloco */
    margin-bottom: 20px; /* Adiciona 20px de espaçamento abaixo do elemento */
}

/*Texto das inspeções*/
h3 {
    text-align: center;
    color: #272727;
    font-size: 30px; /* Tamanho da fonte desejado */
    font-weight: bold;
    margin-top: 0px;
    z-index: 9999; /* Garante que o texto fique acima de outros elementos */
}

/* Estilos para centralizar os botões */
.button-container-ok-nok {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilos para os botões */
.green-button {
    width: 150px;
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px; /* Adiciona um espaço entre os botões */
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.green-button:hover {
    background-color: rgb(3, 85, 1); /* Verde */
}

.red-button {
    width: 150px;
    background-color: #f44336; /* Vermelho */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px; /* Adiciona um espaço entre os botões */
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.red-button:hover {
    background-color: #d43b30; /* Vermelho */
}

/* Estilo para o contêiner da imagem */
#imagemContainer {
    position: fixed; /* Define a posição fixa na tela */
    bottom: 100px; /* Alinha o contêiner no topo da tela */
    left: 50%; /* Alinha o contêiner à esquerda da tela */
    transform: translate(-50%);
    width: 80%; /* Define a largura do contêiner como 80% da largura da tela */
    height: auto;
    max-width: 100%; /* Defina a largura máxima do contêiner como 100% da tela */
    z-index: 10; /* Adiciona um z-index alto para que fique acima de outros elementos */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    background-color: white; /* Define uma cor de fundo para o contêiner */
}

/* Estilo para o contêiner da imagem */
/* #imagemContainer {
    max-width: 100%;
} */

/* Estilo para a imagem dentro do contêiner */
.imagem-redimensionada {
    width: 100%; /* A imagem ocupará 100% da largura do contêiner */
    height: auto; /* Isso garantirá que a altura seja ajustada proporcionalmente */
}


/*Dark mode*/
/* body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

h1 {
    text-align: center;
    color: #dfdfdf;
    font-size: 70px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color: #d4d4d4;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 70px;
}

p {
    text-align: center;
    color: #c7c7c7;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    z-index: 9999;
}

h3 {
    text-align: center;
    color: #d6d6d6;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    z-index: 9999;
}

#texto_inspecao {
    font-size: 18px;
    color: #dddddd;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    z-index: 9999;
} */